body {background-image: url(https://c2.peakpx.com/wallpaper/934/101/208/books-structure-texture-background-wallpaper-preview.jpg);}

html {
  overflow-y: scroll;
}

.textblocks {
  background-color: #FBEEC1;
  padding: 15px 15px 15px 15px
}

.wrapper {
  padding-top: 30px;
}

.navbar-brand a {
  color: #ffffff;
}